// <!-- -------------------MEDIA QUERYS -- >
@media only screen and (min-width: 769px) {
.header {
  margin: 4rem 0 0 0 !important ;
} 
.pharagraphh {
  margin: 2rem 0 -1rem 0 !important;
}
hr {
  display: none;
}
.lightness-button {
  position: absolute !important;
  left: 70%;
  top: 8%;
}
.background {
  display: inline-block;
}
.overview__daily {
  left: 73% !important;
}
}

@media only screen and (min-width: 992px) {
  .lightness-button {
    left: 80%;
  }
}