// <!-- ---------------------VARIABLES -- >

$light-main-color: hsl(227, 47%, 96%);
$light-main-font-color: black;
$light-secondary-font-color:  hsl(228, 12%, 44%);
$light-background-color: white;

$dark-main-color: hsl(232, 19%, 15%);
$dark-main-font-color: white;
$dark-background-color: black;



