// <!-- ---------------------BODY -- >
body {
}

.outer-boxa {
  font-family: "Inter", sans-serif;
  text-align: center;
}

// <!-- -------------------HEADER -- >
.header {
  border: solid 1px black;
  &__title {
  }

  &__subtitle {
  }

  .lightness-button {
    p {
    }

    .switch {
    }
  }
}
// <!-- -------------------FOLLOWERS -- >
.followers {
  &__square {
    margin: 2rem auto;
    background-color: hsl(227, 47%, 96%);
    max-width: 375px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

    .followers__social-media {
      p {
        margin-top: 1.5rem;
        font-weight: 700;
      }
    }
    .followers__amount {
      .number {
        font-size: 50px;
        font-weight: 700;
      }
      .followers-word {
        margin-top: -1.3rem;
        letter-spacing: 5px;
      }
    }
    .followers__daily {
      p {
      }
    }
  }
}
// <!-- -------------------OVERVIEW -- >
.overview {
  &__title {
    p { 
    }
  }
  &__square {
    height: 125px;
    max-width: 375px;
    margin: 2rem auto;
    position: relative;
    background-color: hsl(227, 47%, 96%);
    .overview__name {
      position: absolute;
      top: 30%;
      left: 10%;
      p {color: hsl(228, 12%, 44%);
        font-weight: 700 !important;
      }
    }
    .overview__social-media {
      position: absolute;
      top: 30%;
      left: 10%;
    }
    .overview__amount {
      position: absolute;
      top: 30%;
      left: 10%;
      p {
        font-size: 30px;
        font-weight: 700;
      }
    }
    .overview__daily {
      position: absolute;
      top: 30%;
      left: 10%;
      p {
      }
    }
  }
}
// <!-- -------------------MODIFIERS -- >
.green p {
  color: hsl(163, 72%, 41%);
  font-weight: 700;
}
.red p {
  color: hsl(356, 69%, 56%);
  font-weight: 700;
}

.followers__square--facebook {
  border-top: solid 5px hsl(208, 92%, 53%);
}

.followers__square--twitter {
  border-top: solid 5px hsl(203, 89%, 53%);
}

.followers__square--instagram {
  background-image: linear-gradient(
    90deg,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.followers__square--youtube {
  border-top: solid 5px hsl(348, 97%, 39%);
}
